%h1 Listings
- if @listings.empty?
  %p
    There aren't any jobs here.
- else
  - @listings.each_slice(3) do |slice|
    .row
      - slice.each do |listing|
        .span4
          %h2= link_to listing.title, employers_job_path(listing)
          %p= listing.description
          %p
            Pay: $
            = listing.pay
          %p
            Location: North Pole
            -#(hardcoded, not an attribute yet)