%h1 Review Some Users!!!!
%p.muted= "#{@reviews.count} employees to review"
%table
  %tr
    %th

  - @reviews.each do |review|
    %tr
      %td= link_to review.full_name, edit_admin_review_path(review)
%br
