= simple_form_for(@feedback, url: contact_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :message, input_html: { class: 'span9', rows: 10 }

  .form-actions
    = f.button :submit, 'Submit Message', class: 'btn btn-success'
