%h1 About Us
.row
	.span12
		%p Everyone wants a summer job. JobPond is the result of three college students' less-than-successful quest for a summer job. As the applications piled up and the job offers didn't, we decided that someting needed to change. We had grown tired of writing the same name, address, job experience, and references for every application. So what did we do? We set out on a quest to make sure that no one else will ever have to do that again. The goal of JobPond is to create a Common Application for hourly jobs. JobPond let's job seekers fill out a single application and apply for every job with just the click of a button.

%h2 Meet the Team
.row
	.span4
		=image_tag 'shane_profile.jpeg'
	.span8
		%h3 Shane Burkhart
		%p ADD PROFILE

%br

.row
	.span8
		%h3 Ryan Endacott
		%p ADD PROFILE
	.span4
		=image_tag 'ryan_profile.jpeg'

%br

.row
	.span4
		=image_tag 'daniel_profile.jpeg'
	.span8
		%h3 Daniel Holmgren
		%p Daniel is a sophomore at University of North Carolina studying Mathematics and Computer Science. When he isn't in the Dean Dome cheering for the Tar Heels, he stays busy with Mock Trial, Student Government, Sigma Phi Society, and, of course, programming