- content_for :no_container, true
- content_for :title, "Employer"
.hero-unit.dark
  .container
    .row
      .span12
        %h1 Find Quality Employees
        %br
        %p.lead We make finding quality employees fast and affordable!
        %p
          = link_to 'Sign up now!', new_employer_registration_path, class: 'btn btn-large btn-success'
.light-grey
  .container
    .row
      .span12
        .row.marketing-section
          .span2
            %i.icon-user.icon-huge.text-warning
          .span10
            %h2 Find Quality Applicants Fast With Our Employee Finder
            %p.lead Not only can job seekers find you, but you can look for them as well.  Our employee finder lets you easily find the highest qualified applicants.

        .row.marketing-section
          .span10
            %h2 Easily Manage Your Listings
            %p.lead Our employer dashboard makes it easy for you to manage and view all of your listings.
          .span2
            %i.icon-thumbs-up.icon-huge.text-info

        .row.marketing-section
          .span2
            %i.icon-time.icon-huge.text-error
          .span10
            %h2 Saving You Valuable Time
            %p.lead We know you have a lot to do.  Let us make it quickly and easily for you to post your listings.

        .row.marketing-section
          .span10
            %h2 Eliminate Paperwork
            %p.lead No one likes paperwork!  With UnderJobs.Me, everything, from employee resumes to job listings, is electronic.
          .span2
            %i.icon-file.icon-huge.text-success