.hero-unit
  %h1 Epic Marketing For Job Seekers
  %br
  %p Can you believe how awesome our product is?  Neither can we!  You can literally get the best job you've ever dreamed of!
  %p
    = link_to 'Sign up now!', new_employee_registration_path, class: 'btn btn-large btn-success'
