.hero-unit
  %h1 Epic Marketing
  %br
  %p Can you believe how awesome our product is?  Neither can we!
  %p
    = link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-large btn-success'
