/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jcrop
*/

/* ---------------------------------------------------------------------------- */
/* FOOTER STUFF */

$footer_height: 60px;

/* center text vertically */
#footer > .container > p {
  margin-top: 20px;
  margin-bottom: 20px;
}



/* Sticky footer stuff, source: http://twitter.github.io/bootstrap/examples/sticky-footer-navbar.html */
    /* Sticky footer styles
  -------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto (-$footer_height);
}

/* height of top nav */
#wrap > .container { padding-top: 51px; }

/* Set the fixed height of the footer here */
#push,
#footer {
  height: $footer_height;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* End sticky footer stuff ------------------------------------------*/


#logo{
  display: inline-block;
  background: url(image-path("logo-blue.png")) no-repeat;
  width: 145px;
  height: 40px;
  text-indent: -9999px;
  margin-top: 6px;
}

.hero-unit{
	&.small{
		padding-top: 10px;
		padding-bottom: 25px;
	}
  &.mini{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  &.dark{
    background-color: #676767;
    color: white;
  }
}

.lead{
  &.big{
    font-size:1.3em;
  }
}

.marketing-container{
  padding-top: 30px;
}

#map-canvas{
  height:400px;

  img {
    max-width: none;
  }

  p{
    margin: 0;
  }

  &.absolute{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &.full-screen{
    top: 51px;
    bottom: 0;
    height: auto;
  }
}

#map-heading-promo-text, #map-heading-sign-up, #map-search-form{
  position: absolute;
  &[class^="span"]{
    margin: 0;
  }
}

#map-search-form{
  p{
    padding: 0;
    margin: 5px 0 0 0;
  }
}

.well{
  &.border{
    border: 1px solid #aaa;
  }
}

.btn{
  &.btn-medium{
    padding: 17px 22px;
  }
  &.btn-skinny{
    padding: 9px 50px;
  }
  &.btn-apply{ /* For the listing index page*/
    margin-top: 40px;
  }
}

.nav{
  a{
    &.light{
      color: #00afff;
      &:hover{
        color: #008fff;
      }
    }
  }
  p{
    color: white;
    margin-top: 14px;
  }
}

.search-form{
  margin-top: 20px;
  &.search-form-absolute{
    margin: 0;
  }
}

.higher{
  z-index: 10;
}

.disabled-link{
  color: black;
  text-decoration: underline;
  &:hover{
    color: black;
  }
}

.marketing-section{
  margin-bottom: 80px;
}

.back-to-top{
  margin-bottom: 30px;
}

.footer {
  background: #dfdfdf none;
  padding-top: 5px;
}

.icon-huge{
  font-size: 130px;
}

a{
  &.dark{
    color: black;
    &:hover{
      color: black;
    }
  }
}

.light-grey{
  background-color: #fcfcfc;
}

.no-margin{
  margin: 0;
}