/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.hero-unit{
	&.small{
		padding-top: 10px;
		padding-bottom: 25px;
	}
  &.mini{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
}

.lead{
  &.big{
    font-size:1.3em;
  }
}

.marketing-container{
  padding-top: 30px;
}

.btn-apply{
  margin-top: 40px;
}

#map-canvas{
  height:400px;

  img {
    max-width: none;
  }

  p{
    margin: 0;
  }

  &.absolute{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &.full-screen{
    top: 51px;
    bottom: 0;
    height: auto;
  }
}

#map-heading-promo-text, #map-heading-sign-up, #map-search-form{
  position: absolute;
  &[class^="span"]{
    margin: 0;
  }
}

#map-search-form{
  p{
    padding: 0;
    margin: 5px 0 0 0;
  }
}

.well{
  &.border{
    border: 1px solid #aaa;
  }
}

.btn{
  &.btn-medium{
    padding: 17px 22px;
  }
}

.nav{
  a{
    &.light{
      color: #00afff;
      &:hover{
        color: #008fff;
      }
    }
  }
  p{
    color: white;
    margin-top: 14px;
  }
}

.search-form{
  margin-top: 20px;
  &.search-form-absolute{
    margin: 0;
  }
}

.higher{
  z-index: 10;
}

.disabled-link{
  color: black;
  text-decoration: underline;
  &:hover{
    color: black;
  }
}