.job-experience
	= f.input_field :title, label: false, placeholder: "Title"
	= f.input_field :company, label: false, placeholder: "Company"
	= f.input_field :time, label: false, as: :select, collection: time_frames