.container
  %p.pull-left
    = link_to 'Contact us!', contact_path
  %p.pull-right
    © 2013 JobPond, LLC. All rights reserved.


/ Javascript
- if Rails.env.production?
  = javascript_include_tag 'googleanalytics'
